<html>
<head>
    <title>Apocrypha</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
</head>
<body>
    <div id="content"></div>
    <script src="/static/js/app.js"></script>
</body>
</html>